<div class="page-header">
  <h3>Recommend #<%= @recommend.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Entertainment</dt>
      <dd>
        <% if @recommend.entertainment.present? %>
          <a href="/entertainments/<%= @recommend.entertainment_id %>">
            <%= @recommend.entertainment.picture %>
          </a>
        <% end %>
      </dd>

      <dt>User</dt>
      <dd>
        <% if @recommend.user.present? %>
          <a href="/users/<%= @recommend.user_id %>">
            <%= @recommend.user.name %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/recommends" class="btn btn-primary">
        Back
      </a>
      <a href="/recommends/<%= @recommend.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_recommend/<%= @recommend.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
